.baked-chicken-boxes-wrapper{
    display:flex;
    .baked-chicken-box{
        height:510px;
        width:33%;
        overflow: hidden;
        position:relative;
    }
    img{
        height:auto;
        width:100%;
        position:absolute;
        transform:translateY(-50%);
        top:50%;
    }
}
@media (max-width:768px){
    .baked-chicken-boxes-wrapper{
        display:flex;
        flex-flow:column;
        .baked-chicken-box{
            height:600px;
            width:100%;
        }
    } 
}
@media (max-width:400px){
    .baked-chicken-boxes-wrapper{
        display:flex;
        flex-flow:column;
        .baked-chicken-box{
            height:400px;
            width:100%;
        }
    } 
}
@media (max-width:270px){
    .baked-chicken-boxes-wrapper{
        display:flex;
        flex-flow:column;
        .baked-chicken-box{
            height:300px;
            width:100%;
        }
    } 
}