.bakery-croissant{
    display:flex;
    padding:50px 0;
    .bakery-croissant-boxes-wrapper{
        display:flex;
        justify-content: center;
        align-items: center;
        .bakery-croissant-box{
            width:50%;
            height: 585px;
            display:flex;
            flex-flow: column;
            justify-content:center;
            overflow: hidden;
            img{
                height:auto;
                width:100%;
            }
            p{
                margin-bottom:100px;
            }
            span{
                display:flex;
                flex-flow:column;
                margin-bottom:5px;
                &:nth-child(4){
                    margin-bottom: 0;
                }
                }
            h4{
                margin-bottom: 20px;
                letter-spacing: 4px;
                text-transform: uppercase;
                &:nth-child(5){
                    margin-bottom: 0;
                }
            }
            h2{
                margin-bottom:20px;
            }
            svg{
                height:40px;
                width:40px;
                margin-bottom: 20px;
            }
        }
    }
}
@media(max-width:1260px){
    .bakery-croissant{
        .bakery-croissant-boxes-wrapper{
            .bakery-croissant-box{
            span{
                margin-bottom:0px;                 
                }
            }
        }
    }
}
@media(max-width:830px){
    .bakery-croissant{
        padding:0;
        .bakery-croissant-boxes-wrapper{
            display:flex;
            flex-flow: column;
            .bakery-croissant-box{
                width:100%;
                height: 585px;
                &:nth-child(2){
                    height:355px;
                }
                .inner-wrapper{
                    margin:0;
                }
                p{
                    margin-bottom:40px;
                }
                span{
                    margin-bottom:5px;
                }
            }
        }
    }
}
@media(max-width:460px){
    .bakery-croissant{
        padding:0;
        .bakery-croissant-boxes-wrapper{
            display:flex;
            flex-flow: column;
            .bakery-croissant-box{
                width:100%;
                height:50%;
                .inner-wrapper{
                    margin:0;
                }
                p{
                    margin-bottom:10px;
                }
                h2{
                    margin-bottom:10px;
                    font-size: 36px;
                }
                h4{
                    margin-bottom: 10px;
                }
                svg{
                    margin-bottom: 10px;
                }           
            }
        }
    }
}
