.bakery-croissant{
    display:flex;
    padding:100px 0;
    .bakery-croissant-boxes-wrapper{
        display:flex;
        justify-content: center;
        align-items: center;
        .bakery-croissant-box{
            width:50%;
            height: 585px;
            display:flex;
            flex-flow: column;
            justify-content:center;
            overflow: hidden;
            img{
                height:auto;
                width:100%;
            }
            p{
                margin-bottom:100px;
            }
            span{
                display:block;
                margin-bottom:5px;
                &:nth-child(4){
                    margin-bottom: 0;
                }
                }
            h4{
                margin-bottom: 20px;
                letter-spacing: 4px;
                text-transform: uppercase;
                &:nth-child(5){
                    margin-bottom: 0;
                }
            }
            h2{
                margin-bottom:20px;
            }
            svg{
                height:40px;
                width:40px;
                margin-bottom: 20px;
            }
        }
    }
}