.ice-creams-and-drinks-wrapper{
    display:flex;
    justify-content: center;
    background-image: url("../../assets/images/ed-min.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding:100px 0;
    box-sizing: border-box;
    .inner-wrapper{
        display:flex;
        justify-content: flex-end;
        .ice-creams-and-drinks-boxes-wrapper{
            width:555px;
            height:415px;
            display: flex;
            flex-wrap: wrap;
            :nth-child(n+4){
                margin-left:15px;
                margin-bottom: 0;
            }
            :nth-child(4){
                margin-left:0;
            }
            :nth-child(-n+3){
                margin-left:15px;
                margin-bottom: 15px;
            }
            :nth-child(1){
                margin-left: 0;
            }
            .ice-creams-and-drinks-box{
                height:200px;
                width:175px;
                display:flex;
                justify-content: center;
                align-items: center;
                flex-flow: column;
                position:relative;
                i{
                    height:48px; 
                    width:48px;
                    fill:#fff;  
                    margin-bottom:20px;
                    margin-left:0;
                    z-index:5;                                         
                }
                span{
                    z-index:5;
                    margin:0;
                }
                .bg{
                    width:175px;
                    height:200px;
                    left:0;
                    top:0;
                    background:#000;
                    opacity:.5;
                    position:absolute;
                }
            }
        } 
    }
}

@media (max-width:700px){
    .ice-creams-and-drinks-wrapper{
         .inner-wrapper{
            display:flex;
            .ice-creams-and-drinks-boxes-wrapper{
                display:flex;
                justify-content: flex-end;
                margin:0;
                height: 100%;
                width:100%;
                .ice-creams-and-drinks-box{
                    margin:0;
                    padding:5px;
                    .bg{
                        margin:0;
                    }
                }           
            }
        }
    }
}
@media (max-width:464px){
    .ice-creams-and-drinks-wrapper{
        .inner-wrapper{
           display:flex;
           .ice-creams-and-drinks-boxes-wrapper{
               display:flex;
               justify-content:center;
               margin:0;
               height: 100%;
               width:100%;
               .ice-creams-and-drinks-box{
                   margin:0;
                   padding:5px 0;
                   height:14%;
                   width:100%;
                   .bg{
                       margin:0;
                       height: 100%;
                       width:100%;
                   }
               }           
           }
       }
   }
}

