.ice-creams-and-drinks-wrapper{
    display:flex;
    justify-content: center;
    background-image: url("../../../assets/images/ed-min.jpg");
    background-position: center;
    background-size:100%;
    background-repeat:no-repeat ;
    height:80vh;
    padding:100px 0;
    box-sizing: border-box;
    .inner-wrapper{
        display:flex;
        justify-content: flex-end;
        .ice-creams-and-drinks-boxes-wrapper{
            width:50%;
            display: flex;
            flex-wrap: wrap;
            .ice-creams-and-drinks-box{
                height:46%;
                width:29.33%;
                opacity: 0.3;
                background: #000;
                margin:2%;
                display:flex;
                justify-content: center;
                align-items: center;
                flex-flow: column;
                i{
                    height:48px; 
                    width:48px;
                    fill:white;
                    margin-bottom: 20px;
                }
            }
        }
    }
}