.learn-cooking-online{
    box-sizing: border-box;
    padding:50px 0;
    .inner-wrapper{
        overflow: hidden;
    }
    .learn-cooking-online-heading{
        text-align: center;
        box-sizing: border-box;
        p{
            margin-bottom:50px;
        }
        h2{
            margin-bottom: 20px;
        }
    }
    .content-wrapper{
        width:200%;
        .slider{
            width:100%;
            overflow: hidden;
            height:355px;
            .slider-photo{
                float:left;
                height:355px;
            }
        }
    }
    .learn-cooking-online-footer{
        letter-spacing: 2px;
        text-align: center;
        a{
            color:#000;
            margin-bottom: 15px;
        }
        .learn-cooking-online-footer-item{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom:30px;
        }
    }
}

