
.learn-cooking-online{
    box-sizing: border-box;
    padding:50px 0;
    .inner-wrapper{
        overflow: hidden;
        margin: auto;
    }
    .learn-cooking-online-heading{
        text-align: center;
        box-sizing: border-box;
        p{
            margin-bottom:50px;
        }
        h2{
            margin-bottom: 20px;
        }
    }
    *{
        padding:0;
        margin:0;
        box-sizing: border-box;
        .carousel-container{
            height: 355px;
            margin:auto;
            width:885px;
            position: relative;
            overflow: hidden;
            margin-bottom: 50px;
            .prevbtn{
               outline: 0;
               position:absolute;
               top:50%;
               transform: translateY(-50%);
               left:0px;
               background: #000;
               z-index: 10;
               height:55px;
               width:55px;
               border-radius: 50%;
               border:#000;
               cursor: pointer;
            }
            .prevbtn::before{
                content:' ';
                position: absolute;
                left:20px;
                top:14px;
                border: 2px solid #fff;
                border-bottom: 0;
                border-right:0;
                height:26px;
                width:26px;
                transform: rotate(-45deg);
            }
            .prevbtn:hover{
                opacity: 0.4;
                background: #222;
            }
            .nextbtn{
                outline: 0;
                position:absolute ;
                top:50%;
                transform: translateY(-50%);
                right:0;
                background: #000;
                z-index: 10;
                height:55px;
                width:55px;
                border-radius: 50%;
                border: #000;
                cursor: pointer;
            }
            .nextbtn::before{
                content:' ';
                position: absolute;
                right:20px;
                top:14px;
                border: 2px solid #fff;
                border-bottom: 0;
                border-right:0;
                height:26px;
                width:26px;
                transform: rotate(135deg);
            }
            .nextbtn:hover{
                opacity:0.4;
                background:#222;
            }
            .carousel-slide{
                display: flex;
                position: relative;
                img{
                    width:295px;
                    height:auto;
                    box-sizing: border-box;
                    padding:0 5px;
                }
            }
        }
    }
    .learn-cooking-online-footer{
        letter-spacing: 2px;
        text-align: center;
        a{
            color:#000;
            margin-bottom: 15px;
        }
        .learn-cooking-online-footer-item{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom:30px;
        }
    }
}

