.learn-cooking-online{
    box-sizing: border-box;
    padding:50px 0;
    .learn-cooking-online-heading{
        text-align: center;
        box-sizing: border-box;
        p{
            margin-bottom:50px;
        }
        h2{
            margin-bottom: 20px;
        }
    }
    .learn-cooking-online-photo-boxes-wrapper{
        display:flex;
        width:100%;
        height:385px;
        justify-content: center;
        margin-bottom: 50px;
        box-sizing: border-box;
        .learn-cooking-online-photo-item-box{
            width:5%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        svg{
            height:35px;
            width:35px;//pseudoklasa musi tu być
            fill:#fff;
            background:#000;
            border-radius: 50%;
        }
        .learn-cooking-online-photo-box{
            overflow: hidden;
            width:30%;
            display:flex;
            justify-content: center;
        }
        img{
            height:100%;
            width:auto;
            :hover{ //hover na img 
                opacity:0.3;
            }
        }
    }
    .learn-cooking-online-footer{
        letter-spacing: 2px;
        text-align: center;
    }
    a{
        color:#000;
        margin-bottom: 15px;
    }
}
