.sweets-foods-wrapper {
  padding: 100px 0;
  box-sizing: border-box;
  .sweets-foods-boxes-wrapper {
    display:flex;
    flex-wrap: wrap;
    .sweets-foods-box-images,
    .sweets-foods-box
    {
      height: 405px;
      width: 33.33%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      display: flex;
      overflow: hidden;
      img{
        width: 100%;
        height: auto;
      }
      h3,
      h4,
      p {
        margin-bottom: 20px;
      }
      h4 {
        text-transform: uppercase;
        letter-spacing: 4px;
      }
      h3 {
        text-align: center;
      }
      h5 {
        border-bottom: 2px solid #000;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      a {
        color: black;
        text-decoration: none;
      }
      span {
        display: block;
        text-align: center;
        margin-bottom: 5px;
      }
    }
  }
}
@media (max-width:1160px){
  .sweets-foods-wrapper {
    .sweets-foods-boxes-wrapper {
      display:flex;
      flex-wrap: wrap;
      .sweets-foods-box-images{
        height: 405px;
        width: 33%;
        img{
          height:405px;
          width: 100%;
        }
      }
      .sweets-foods-box {
        height: 405px;
        width:33%;
        h3,
        h4,
        p {
          margin-bottom: 20px;
        }
        
        span {
          display: block;
          text-align: center;
          margin-bottom: 5px;
          }
        }
      }
    } 
}
@media (max-width:768px){
  .sweets-foods-wrapper {
    .sweets-foods-boxes-wrapper {
      display:flex;
      flex-flow: column;
      .sweets-foods-box-images{
        height: 405px;
        width: 100%;
      }
      .sweets-foods-box {
        height: 255px;
        width: 100%;
        h3,
        h4,
        p {
          margin-bottom: 10px;
        }
       
        span {
          margin-bottom: 4px;
          }
        }
      }
    }
}
@media (max-width:529px){
  .sweets-foods-wrapper {
  .sweets-foods-boxes-wrapper {
    display:flex;
    flex-flow: column;
    .sweets-foods-box-images{
      height: 405px;
      width: 100%;
    }
    .sweets-foods-box {
      height: 255px;
      width: 100%;
      h3,
      h4,
      p {
        margin-bottom: 10px;
      }
      span {
        display: block;
        }
      }
    }
  }
}
@media (max-width:400px){
  .sweets-foods-wrapper {
    .sweets-foods-boxes-wrapper {
      display:flex;
      flex-flow: column;
      .sweets-foods-box-images{
        height: 405px;
        width: 100%;
      }
      .sweets-foods-box {
        height: 255px;
        width: 100%;
        h3,
        h4,
        p {
          margin-bottom: 10px;
        }
        a{
          font-size: 12px;
        }
        span {
          margin-bottom: 2px;
          font-size:14px ;
          }
        }
      }
    }
}


