.sweets-foods-wrapper{
    padding:100px 0;
    box-sizing: border-box;
    height:120vh;
    display:flex;
    .sweets-foods-boxes-wrapper{
        display: flex;
        flex-wrap: wrap;
        height:100%;
        width:100%;
        .sweets-foods-box{
            height:50%;
            width:33.33%;
            display:flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            h3, h4, p{
                margin-bottom: 20px;
            }
            h4{
                text-transform: uppercase;
                letter-spacing: 4px;
            }
            h3{
                text-align: center;
            }
            h5{
                text-transform: uppercase;
                letter-spacing: 2px;
                text-decoration:underline;
            }
            span{
                display:block;
                text-align: center;
                margin-bottom: 5px;
            }
            img{
                height:100%;
                width:100%;

            }
        }
    }
}