.main-largest-heading{
    font-size:60px;
    font-weight:700;
    color:#111;
    font-family: 'Playfair Display', sans-serif;
    src:url('../../fonts/Playfair Display/PlayfairDisplay-Bold.ttf');
}
.main-heading{
    font-size:48px;
    font-weight:700;
    color:#111;
    font-family: 'Playfair Display', sans-serif;
    src:url('../../fonts/Playfair Display/PlayfairDisplay-Bold.ttf');
}
.main-small-heading{
    font-size:24px;
    font-weight:700;
    color:#111;
    font-family: 'Playfair Display', sans-serif;
    src:url('../../fonts/Playfair Display/PlayfairDisplay-Bold.ttf');
}
.medium-main-heading{
    font-size:24px;
    font-weight:700;
    color:#111;
    font-family: 'Roboto', sans-serif;
    src:url('../../fonts/Roboto/Roboto-Bold.ttf');
}
.medium-main-description{
    font-size:16px;
    font-weight:400;
    color:#fff;
    font-family: 'Lato', sans-serif;
    src:url('../../fonts/Lato/Lato-Regular.ttf');
}
.main-description{
    font-size:16px;
    font-weight:400;
    color:#111;
    font-family: 'Open Sans', sans-serif;
    src:url('../../fonts/Open-sans/OpenSans-Regular.ttf');
}
.small-desrciption{
    font-size:14px;
    font-weight:400;
    color:#111;
    font-family: 'Open Sans', sans-serif;
    src:url('../../fonts/Open-sans/OpenSans-Regular.ttf');
}
.footer-description{
    font-size:12.8px;
    font-weight:400;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    src:url('../../fonts/Open-sans/OpenSans-Regular.ttf');
}
.medium-description{
    font-size:18px;
    font-weight:300;
    color:#111;
    font-family: 'Roboto', sans-serif;
    src:url('../../fonts/Roboto/Roboto-Light.ttf');
}