body{
    margin:0;
    padding:0;
    color:#111;    
}
.container{
    width:100%;
}
.inner-wrapper{
    width:80%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
}
.recipies-and-cook-lessons{
    display:flex;
    justify-content: center;
    box-sizing: border-box;
    background-image: url("../../../assets/images/pexels-photo-3218467.jpeg");
    background-position: center;
    padding:100px 0 150px;
    height:100vh;
}
.recipies-and-cook-lessons .main-largest-heading {
    display:flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    color:#fff;
}
.recipies-and-cook-lessons .main-description span{
    display:block;
    margin-bottom: 5px;
}
.recipies-and-cook-lessons .main-description{
    text-align:center;
    color:#fff;
}
.recipies-and-cook-lessons-logo {
    display:flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 150px;
}
.hamburger{
    position:absolute;
    top:0%;
    left:48%;
}
.hamburger-inner , .hamburger-inner::after , .hamburger-inner::before{
    content:' ';
    background: #fff;
}
.recipies-and-cook-lessons-item{
    height:48px;
    width:48px;
    fill:#fff;
    position:absolute;
    left:48%;
    bottom:5%;
}