footer{
    background:#333;
    .footer-wrapper{
        padding:50px 0;
        .footer-heading{
            p{
                color:#fff;
                text-align: center;
                span{
                    margin-bottom:10px;
                    display: block;
                    &:nth-child(2){
                        margin-bottom: 100px;
                    }
                }
            }
        }    
    }
    .footer-item{
        display: flex;
        justify-content: center;
       a{
           margin:0;
           color:#adcce9;
       }
    }
}