@import "./nav";

.recipies-and-cook-lessons{
    background-image: url("../../assets/images/pexels-photo-3218467.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    height:100vh;
    padding:150px 0;
    box-sizing: border-box;
    overflow: hidden;
    .recipies-and-cook-lessons-wrapper{
        display: flex;
        justify-content: center;
        flex-flow: column;
        .recipies-and-cook-lessons-logo {
            display:flex;
            justify-content:center;
            align-items: center;
            margin-bottom: 100px;
        }
        .recipies-and-cook-lessons-heading{
            display:flex;
            justify-content: flex-end;
            align-items: center;
            flex-flow: column;
            span{
                display:block;
                margin-bottom: 5px;
            }
            .recipies-and-cook-lessons-heading-last-span{
                margin-bottom: 0px;
            }
            .main-largest-heading {
                display:flex;
                justify-content: flex-end;
                margin-bottom: 20px;
                color:#fff;
            }
            .main-description{
                text-align:center;
                color:#fff;
            }
        }     
    }
}
@media (min-height:1180px) and (orientation:portrait){
    .recipies-and-cook-lessons-heading{

        .main-largest-heading{
            text-align: center;
            margin-bottom: 50px;
        }
    }
}
@media (min-height:1024px) and (orientation:portrait) and (max-height:1179px){
    .recipies-and-cook-lessons-heading{
        .main-largest-heading{
            text-align: center;
            margin-bottom: 50px;
        }
    }
}
@media (min-height:768px) and (orientation:portrait) and (max-height:1023px){
    .recipies-and-cook-lessons{
        padding:100px 0;
        .recipies-and-cook-lessons-wrapper{
            .recipies-and-cook-lessons-logo {
                margin-bottom: 25px;
            }
            .recipies-and-cook-lessons-heading{
                .main-largest-heading{
                    text-align: center;
                    font-size:36px;
                }
                .span{
                    text-align: center;
                }
            }
        }
    }
}
@media (min-height:530px) and (orientation:portrait) and (max-height:767px){
    .recipies-and-cook-lessons{
        padding:50px 0;
    .recipies-and-cook-lessons-wrapper{
        .recipies-and-cook-lessons-logo {
            margin-bottom: 25px;
            img{
                width:200px;
                height: 150px;
            }
        }
        .recipies-and-cook-lessons-heading{
            .main-largest-heading{
                text-align: center;
                font-size:34px;
            }
            .main-description{
                font-size:11px;
                text-align: center;
                .span{
                    margin-bottom: 5px;
                    }
                }
            }
        }
    }
}
@media (min-height:320px) and (orientation:portrait) and (max-height:529px){
    .recipies-and-cook-lessons{
        padding:50px 0;
    .recipies-and-cook-lessons-wrapper{
        .recipies-and-cook-lessons-logo {
            margin-bottom: 5px;
            img{
                width:125px;
                height: 75px;
            }
        }
        .recipies-and-cook-lessons-heading{
            .main-largest-heading{
                text-align: center;
                font-size:22px;
            }
            .main-description{
                font-size:10px;
                .span{
                    margin-bottom: 5px;
                    }
                }
            }
        }
    }
}

