.hamburger{
    position:absolute;
    top:0%;
    left:50%;
    .hamburger-inner, 
    .hamburger-inner::after,
    .hamburger-inner::before{
        content:' ';
        background: #fff;
    }
}
.recipies-and-cook-lessons-item{
    height:48px;
    width:45px;
    fill:#fff;
    position:absolute;
    left:50%;
    bottom:5%;
}