nav{
    transform: translateX(50%);
    .hamburger
    .hamburger-inner, 
    .hamburger-inner::after,
    .hamburger-inner::before{
        content:' ';
        background: #fff;
    }
}
.recipies-and-cook-lessons-item{
    height:100%;
    fill:#fff;
    transform: translateX(50%);
}
