.main-largest-heading{
    font-size:60px;
    font-weight:700;
    color:#111;
}
.main-heading{
    font-size:48px;
    font-weight:700;
    color:#111;
}
.main-small-heading{
    font-size:24px;
    font-weight:700;
    color:#111;
}
.medium-main-heading{
    font-size:24px;
    font-weight:700;
    color:#111;
}
.medium-main-description{
    font-size:16px;
    font-weight:400;
    color:#111;
}
.main-description{
    font-size:16px;
    font-weight:400;
    color:#111;
}
.small-desrciption{
    font-size:14px;
    font-weight:400;
    color:#111;
}
.footer-description{
    font-size:12.8px;
    font-weight:400;
    color:#fff;
}
.medium-description{
    font-size:18px;
    font-weight:300;
    color:#111;
}