body{
    margin:0;
    padding:0;
    color:#111;
}
.container{
    width:100%;
}
.inner-wrapper{
    width:80%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
}
.recipies-and-cook-lessons{
    height:120vh;
    background:blue;
    display:flex;
    justify-content: center;
    box-sizing: border-box;
    padding:100px 0 150px;
}
.recipies-and-cook-lessons .main-largest-heading {
    display:flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    color:#fff;
}
.recipies-and-cook-lessons .main-description span{
    display:block;
    margin-bottom: 5px;
}
.recipies-and-cook-lessons .main-description{
    text-align:center;
    color:#fff;
}
.recipies-and-cook-lessons-logo {
    display:flex;
    justify-content:center;
    margin-bottom: 150px;
}
.hamburger-wrapper .hamburger{
    top: 0%;
    left:48%;
    position:absolute; 
}
.hamburger-wrapper .hamburger-box{
    width: 24px;
    height: 24px;
}
.hamburger-wrapper .hamburger-inner{
    width: 24px;
    height: 2.38px;
    background-color: #fff;
}
